{% extends 'base.html.twig' %}
{% block body %}
     <div class="jumbotron text-center">
          <h1>Agence lorem ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus fuga nihil! Amet dolore dolorem expedita explicabo inventore, numquam odit reprehenderit? Nisi provident quia quo ratione repellendus? Laudantium repudiandae, tempora!</p>
     </div>
{% endblock %}
